<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Restful Tasks API
  </h1>
</div>

<!-- <fieldset>
  <legend>Search</legend>
  <form (submit)="searchTask()">
      <input type="text" name="theTask._id" [(ngModel)]="theTask._id" placeholder="id" />
      <br>
      <input type="submit" value="Search Task" />
  </form>
</fieldset>

<br>
<app-task *ngFor="let task of tasks" [task]="task" (taskEvent)="taskRemoval()"></app-task>
<br> -->

<fieldset>
  <legend>Create a task</legend>
  <form (submit)="makeTask()">
      <input type="text" name="newTask.title" [(ngModel)]="newTask.title" placeholder="title" />
      <hr>
      <input type="text" name="newTask.description" [(ngModel)]="newTask.description" placeholder="description" />
      <br>
      <input type="submit" value="Create a Task" />
  </form>
</fieldset>

<button (click)="getTasksFromService()">Show all tasks</button>
<br>
<br>
<app-task *ngFor="let task of tasks" [task]="task" (taskEvent)="taskRemoval()"></app-task>
